*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  background-color: rgb(36, 40, 47);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: white;
  font-weight: bold;
}

.navbar {
  float: right;
}

header li {
  display: inline;
}

header a:link,
header a:visited {
  color: black;
}

header a:hover {
  color: #f99803;
}

a:link,
a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #f99803;
}

.hero {
  background: white;
  color: #202329;
  font-size: 4.2em;
  text-align: center;
  padding: 30px;
  margin: 0px;
}

.peoples {
  display: grid;
  grid-gap: 2em;
  margin-top: 2em;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

article {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;
  background-color: #3c3e44;
  color: #f5f5f5;
  border-radius: 1em;
}

article img {
  height: 14em;
  font-weight: 13em;
  border-bottom-left-radius: 1em;
  border-top-left-radius: 1em;
}

h3 {
  color: #9e9e9f;
  font-size: 1em;
  font-weight: lighter;
}

.text-box {
  display: grid;
  padding: 0.75em;
}

section * {
  margin: 0;
}
